%h1
  #{@report.muni} Housing Needs Assessment:

%h2
  Introduction


%h3
  Chapter 40B: A primer

%p
  The Comprehensive Permit Act consists of Massachusetts General Laws (MGL Chapter 40B, Sections 20 through 23, along with associated regulations issued and administered by the Massachusetts Department of Housing and Community Development (DHCD). It was enacted in 1969 to encourage the production of affordable housing in all communities of the Commonwealth.

%p
  Under Chapter 40B, in any municipality where less than 10% of its housing qualifies as affordable under the law, a developer can build more densely than the municipal zoning bylaws would permit, if at least 25% (or 20% in certain cases) of the new units are affordable. Despite its controversy, Massachusetts voters rejected an initiative petition to repeal the law in November of 2010.

%p
  For the purposes of this statute, affordable housing is defined as a unit that could be purchased or rented by a household making up to 80% of the area median income (AMI). Such housing must be subject to long term affordable housing restrictions, often in perpetuity.

%h2
  Demographics

%p
  Housing needs and preferences change over time. Young professionals and seniors on fixed incomes may prefer smaller, more affordable units that are easier to maintain. Families with children may want more space and access to quality schools. This section looks at the population of #{@report.muni} by age and how it is projected to change.

%p
  #{@report.muni} is home to pop_2010 residents, [an increase/a decrease] of p_ch00_10% from 2000. School-age children, between 5 and 19, make up pop5_9_p + pop10_14_p + pop15_17_p + pop18_19_p% of current residents. Between 2000 and 2013, school enrollment has [increased/decreased] from enrolled to enrolled, or foo%. Working-age adults, between 20 and 65, and seniors over 65, make up pop20_p + pop21_p + pop22_24p + pop35_64p% and pop65o_p% of current residents, respectively.

%p
  Massachusetts is growing older. In all but one municipality, the senior population is expected to grow the most in percentage terms over the next two decades. In #{@report.muni}, the senior population is expected to increase pop_30sr - pop_10, or foo%, through 2030, as seen in Figure 1. The total population is projected to [increase/decrease] by pop_30sr - pop_10, or foo%, over the same period.

%p
  [[Figure 1: Bar chart of population projections by age variable. Bars are filled by age variable. Year variable mapped to x-axis. See Figure 17 in projections report. User should have option to stack the bars to see overall population trends, and unstack the bars to see trends within age groups.]]



%h2
  Demand

%p
  Each household occupies one housing unit. Housing demand is therefore driven by the number and composition of households in a given community. Net housing demand is the number of units needed to accommodate additional households and maintain healthy vacancy rates among owner and renter-occupied housing units.1 This section looks at the current distribution of household types in #{@report.muni}, projected household changes, and net housing unit demand through 2030.

%p
  Key findings:

%ul
  %li
    total households in #{@report.muni} [increased/decreased] hh_chg_p% between 2000 and 2010, from hh_00 to hh_10,2
  %li
    average household size [increased/decreased] from hh_avg00 in 2000 to hh_avg10 in 2010 and is projected to be hhs_30sr by 2030,
  %li
    family households with children make up hhf_c_p% of #{@report.muni} households,
  %li
    single person households and elderly single person households make up hh1_p% and hh1_65o_p% of #{@report.muni} households, respectively,3
  %li
    total households in #{@report.muni} are projected to [increase/decrease] by hh_30sr - hh_10 through 2030, a foo% [increase/decrease] from 2010,
  %li
    working age adult households are projected to [increase/decrease] by NA, or NA%,
  %li
    senior households are projected to [increase/decrease] by NA, or NA%,
  %li
    net housing unit demand will be NA through 2030, or NA annually,
  %li
    net housing unit demand among working age adult households will be NA, or NA annually,
  %li
    net housing unit demand among senior households will be NA, or NA annually.


%h3
  Total Households

%p
  Total population and average household size determine the number of households in a community. In Massachusetts overall, and in 96% of Massachusetts municipalities with population growth since 2000, the number of households increased faster than population because of declines in average household size. This trend is expected to continue as seniors make up a greater share of householders and younger householders wait longer to form families. In #{@report.muni}, total households [increased/decreased] by hh_chg, or hh_chg_p, between 2000 and 2010. At the same time, average household size [increased/decreased] from hh_ave_00 to hh_ave_10.


%h3
  Households by Age

%p
  Just as aging Baby Boomers will dominate the overall population dynamics of the state, they will also have a substantial influence on household changes. The number of householders over 65 will increase NA% statewide through 2030, and their share of all households will increase from NA% in 2010 to NA% in 2030. Meanwhile, working age adult households will change only slightly from one decade to the next, and most age groups under 65 will see a decline in the number of households between 2010 and 2030.

%p
  In #{@report.muni}, householders over 65 will go from NA in 2010 to NA in 2030, a NA% [increase/decrease]. Meanwhile, working age adult households will [increase/decrease] by NA, or NA%, as seen in Figure 2.

%p
  [[Figure 2: Bar chart of household projections by age variable. Essentially identical to Figure 1.]]


%h3
  Housing Unit Demand Change

%p
  Changes in housing unit demand result from household formation, dissolution, and mortality. Young adults, between 15-19 and 20-24, are poised to form households after they leave home or graduate from college. They will demand more housing units, especially multi-family rental units, over the next ten years. Meanwhile, older adults have typically already formed households. Combined with mortality, outmigration, or transition to nursing homes and other group quarter situations, this translates to a decline in housing unit demand among older adults, despite a sharp increase in senior households.

%p
  The decline in demand from older householders will partly offset increased demand from their younger counterparts. Statewide, the decline in demand for single-family homes among householders 45 and over will accommodate NA% of demand from younger households. However, shifts in preferences among younger households towards multifamily units means that only NA% of new demand can be met from current supply.

%p
  Through 2030, #{@report.muni} faces a demand for NA housing units from households under 35, NA units from households between 35 and 65, and NA units from households over 65. This translates into a demand for NA single family and bar multi-family units, respectively. Figure figNum breaks projected demand down by householder age, unit type, and tenure.

%p
  [[Figure figNum: Bar chart of housing unit demand by cohort: 2010 through 2030. Age breaks on the x-axis: < 35, 35-65, and 65+. Bars are stacked and colored by unit type and tenure (single family rental and owner, and multifamily rental and owner. See figure Housing Unit Demand by Cohort, 2010 - 2020 in Abington HPP report.]]



%h2
  Supply

%p
  Supply is measured by the number and type of housing units in a community. It is the part of the housing market that municipalities can directly control through zoning and other land use policies. In this section, we look at the current supply of housing units in #{@report.muni}, as well as its distribution by building age and size. We also look at housing permitting in #{@report.muni} since 2000 and compare it to projected future demand. These numbers should help municipalities determine whether or not they are supplying enough housing to meet current and future demand.

Housing Units by Age

%p
  The distribution of housing units by age is important for at least three reasons. First, a relatively old housing stock indicates that housing supply is growing slowly. If demand is expected to remain stable or increase in the future, this may result in upward pressure on housing prices. Second, older housing units can be more expensive to occupy, due to higher heating and maintenance costs. Third, certain federal housing programs, such as Community Development Block Grants, track the percent of housing units by age, and in particular the percent built before 1939.

%p
  In #{@report.muni}, h_39_p% of housing units are in buildings built before 1939, compared to h_39_p% statewide. Another h4059_p% and h6079_p% of #{@report.muni} units are in buildings that date from 1940-1959 and 1960-1979, respectively. Construction since 2000 accounts for h_00_p% of units, compared to bar% statewide.


%h3
  Housing Units by Type

%p
  Housing preferences are projected to change, as both younger householders and seniors opt for smaller, multifamily units, as seen above. It is important to compare these projections to the current distribution of units in order to calibrate supply to future demand. In #{@report.muni}, u1_p% of units are in single family homes, u2_p + u3_4_p% are in multi-family 2 - 4 unit buildings, and u5_9p + u10_19_p + u20ov_p% are in multifamily buildings with five or more units. The remainder are in non-permanent structures, such as mobile homes.


%h3
  Housing Permits: 2000 - 2012

%p
  One way to measure whether or not a municipality is on track to meet future demand is to compare recent permitting activity to future projected demand. If annual permitting for single or multifamily housing units is historically lower than projected annual demand, this indicates a need to increase the rate of single or multifamily permitting in the future.4 From 2000 to 2012, #{@report.muni} permitted sf_units single family and mf_units multifamily housing units annually, as seen in figNum. Horizontal lines indicate the projected average annual demand for new single and multifamily units through 2030.

%p
  [[Line graph with permitted single family and multifamily units per year from 2000 to 2013. Overall horizontal lines to indicate the average annual demand for new single family and multifamily units. These may also work better as separate graphs, especially in communities with historically low multifamily permitting.]]

%h2
  Affordability

%p
  Housing prices are determined by the demand for and supply of housing units. If supply does not keep up with demand, higher prices result. Affordability is determined by the distribution of housing prices and household incomes. If prices rise but incomes remain flat - a familiar dynamic in many communities in recent years - affordability declines.

%p
  Affordability is measured in several ways. In this section, we will measure affordability according to:

%ul
  %li
    the percent of households that pay more than 30% and 50% of income on housing costs, by household tenure, income, and type,
  %li
    the percent of housing units listed on the Massachusetts Subsidized Housing Inventory (SHI),
  %li
    the percent of recent home sales affordable to low and median income households, and
  %li
    the gap between the number of households by income level, and the number of housing units affordable by income level.


%h3
  Households by Income

%p
  Affordability is of particular concern to low income households. Many federal and state housing programs define low income households according to household size and household income, measured as a percent of Area Median Income. The breakdown for extremely low, very low, and low income households by household size is shown in Table tableNum below.

%p
  [[Table modeled after Table 11 in Everett HPP, page 23.]]

%p
  In #{@report.muni}, NA%, NA%, and NA% of households are extremely low, very low, and low income, respectively. This means that NA% of all households qualify for federal and state affordable housing programs based on household income. The number of households that qualify for affordable housing programs is expected to [increase/decrease] by NA, or NA%, through 2030, as shown in Table tableNum.

%p
  [[Bar graph of household projections by household income. Similar to household by age, expect bars will be filed in according to income.]]


%h3
  Housing Cost Burden

%p
  The most common measure of housing affordability is the percent of income that households spend on housing costs. Households that spend more than 30% of income on housing costs are cost burdened. Households that spend more than 50% of income on housing are severely cost burdened. Areas where more than 30% of households are cost burdened face an affordable housing shortage. In #{@report.muni}, foo% and bar% of households are cost burdened and severely cost burdened, respectively, compared to foo% and bar% of households statewide.


%h3
  Cost Burden by Tenure

%p
  Cost burden rates are typically higher among renter households. Statewide, r_cb_p% of renter and o_cb_p% of owners are cost burdened, respectively. In #{@report.muni}, r_cb_p% of renters are cost burdened, versus o_cb_p% of owners.


%h3
  Cost Burden by Income

%p
  As expected, cost burden is also more likely among low income households. Statewide, foo% of all low income households are cost burdened, versus bar% of households with incomes above 80% AMI. In #{@report.muni}, 100*(eli_cb + vli_cb + li_cb)/(eli + vli + li)% of low income households are cost burdened, versus 100*(mod_cb + hi_cb)/(mod + hi)% of higher income households. Figure figNum shows the percent of households that are cost burdened by income level, for #{@report.muni} and its nearest neighborhoods.

%p
  [[cost burden by income graph. Colors correspond to income category, y-axis corresponds to percent of total households, x-axis corresponds to municipality.]]


%h3
  Cost Burden by Household Type

%p
  Younger households, non-family households, and elderly households typically have lower incomes, and are more likely to rent. They are also more likely to to be cost burdened. Statewide, 100*(ecb + encb)/(e + en)% of elderly households and 100*otc/ot% of non-elderly, non-family households are cost burdened, respectively. In #{@report.muni}, cost burden among elderly households and non-elderly, non-family households is 100*(ecb + encb)/(e + en)% and 100*otc/ot%, respectively.


%h3
  Subsidized Housing Inventory

%p
  Massachusetts maintains a subsidized housing inventory (SHI) that tracks communities’ affordable housing stock. Under General Law Chapter 40B, in any municipality where less than 10% of units are included on the SHI, a developer can build more densely than the municipal zoning bylaws would permit, if at least 25% (or 20% in certain cases) of the new units are affordable.

%p
  Statewide, shi_p% of housing unit are on the SHI, and 100*sum(shi_p > 10)/351% of municipalities meet their 10% requirement under Chapter 40B. Figure figNum shows the percent of SHI unit within #{@report.muni} and its nearest neighbors.

%p
  [[Bar chart of percent SHI units for #{@report.muni} and nearest neighborhoods.]]


%h3
  Affordability of Recent Home Sales

%p
  Owner-occupied cost burden estimates reflect the housing costs of current owner households, not the prices that aspiring homeowners face in the current housing market. To estimate how affordable recent sale prices are to low or median income families, we use 2000 to 2012 sales data from the Massachusetts parcel file. Since 2000, NA% of single family homes and NA% of condos were sold at prices affordable to low income three-person households. Over the same period. NA% of condos and NA% of households sold at prices affordable to the median income for #{@report.muni} households. Figure figNum shows the percent of condo and single family home sales since 2000 that are affordable by household income.

%p
  [[Line graph. y-axis is percent of home sales/condo sales since 2000 that are affordable to households at each income level. Vertical lines show low income household cutoff and median households income.]]


%h3
  Affordability Gap

%p
  Units that are affordable to low income households are not necessarily occupied by low income households. This mismatch between households’ incomes and the units they occupy can exacerbate affordability problems. To measure the extent to which affordability is a supply problem versus a distribution problem, we calculate the affordability gap. The gap is the difference between the number of households at a given income level and the number of units affordable to households at that income level. A positive gap indicates a shortage of units at a given income level, even if households and units were perfectly matched by incomes and costs. Table tableNum shows the gap #{@report.muni} renter and owner households face at 50% AMI, 50 to 80% AMI, and above 80% AMI.

%p
  [[Table based on Table 17 in Everett Housing Production Plan.]]