%div.row
  %div.col-md-12
    %div.logo
      = image_tag 'logo.jpg'
      %h1.title Housing MA
%h3.center.subtitle
  Housing data, visualizations, and interpretation for Massachusetts

%div.row.tagline
  %h3
    Helping communities plan for the housing needed to create a vibrant and economically competitive commonwealth

%div.row#town-select
  %div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
    %h2
      Type in your city or town to begin
    %form{action: form_path, method: 'post'}
      %div.input-group.input-group-lg
        %input{class: 'form-control typeahead', type: 'text', placeholder: "i.e. #{random_muni}", name: 'id'}
        %span.input-group-btn
          %button.btn.btn-success.btn-default
            Get started!
            %span.glyphicon.glyphicon-circle-arrow-right

%div.row.features
  
  %div.row 
    %div.col-md-12
      %h2 What's Inside

  %div.col-lg-4.feature
    %h4 Rich Data

    = image_tag 'rich-data.png', class: 'whats-inside'

    %p
      Easily access rich, value-added data compiled from U.S. Census, Building Permits, Zillow, MAPC Projections, and more. Compare your city or town to its neighbors, region, and state.
  
  %div.col-lg-4.feature
    %h4 Guidance

    = image_tag 'guidance.png', class: 'whats-inside'

    %p
      Discover insights into key housing indicators in your city or town. Visualizations, interpretive text, and a user guide help you navigate and understand the data.

  %div.col-lg-4.feature
    %h4 Something for Everyone

    = image_tag 'everyone.png', class: 'whats-inside'

    %p
      Housing MA was designed to be used by citizen committees and expert analysts alike. Text and charts automatically reflect your city or town, and downloading the data behind it is always a click away.

  %div.row
    %div.col-xs-12
      %div#start-planning-field.col-center
        %a{class: 'btn btn-lg btn-primary center', id: 'start-planning'} Start planning

%div.row#quote
  %div.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
    %h3
      The Housing MA portal tool took our housing needs assessment planning period from weeks to hours. I cannot recommend this tool enough.
    %p
      &mdash; Municipal Official, Town of Municipality