%tr
  %td.attr
    %a{data: {toggle: 'modal', target: "##{field.slug}"}}
      #{field.full_alias}
  %td
    = trim @profile.housing.send "#{field}"
    %span.moe= moe_or_blank(@profile.housing, "#{field}")
  %td= trim @profile.neighbors.send      field.with_op
  %td= trim @profile.community_type.send field.with_op
  %td= trim @profile.region.send         field.with_op
  %td= trim @profile.county.send         field.with_op
  %td= trim @profile.state.send          field.with_op