= provide :title, "#{@profile.muni}"

%div.container
  %h1 Housing Data Profile: #{@profile.muni}

  %div.row
    %div.col-md-10
      %table.borderless
        = render partial: 'municipalities/profile/topic_area', collection: @profile.topic_areas
    
      %hr
      %h2{id: "export"}
        Export
      %p
        Export the #{@profile.muni} Housing Data Profile to CSV.
      %a.btn.btn-lg.btn-primary{href: profile_municipality_path(@profile.muni, format: 'csv')}
        Export to CSV (CSV)

    = render partial: 'scrollspy/scrollspy', locals: { content: @profile, export: true }

%div.modal.fade#neighbors
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h4.modal-title
          Nearest Neighbors to #{@profile.muni}
      %div.modal-body
        %ul.neighbors
          =render partial: 'similar', collection: @profile.neighboring


%div.modal.fade#community-type
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h4.modal-title
          Other #{@profile.community_type} Cities and Towns
      %div.modal-body
        %ul.similar
          =render partial: 'similar', collection: @profile.similar_munis
      %div.modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window

= render partial: 'municipalities/profile/meta', collection: @profile.fields