= provide :title, @profile.muni_name

%div.container
  %h1
    Housing Data Profile:
    = @profile.muni_name

  %div.row
    %div.col-md-10

      %h2 Supply

      %h3 Tenure

      %table.borderless
        %thead
          %th.attr Attribute
          %th= @profile.muni_name
          %th
            %a{data: {toggle: 'modal', target: '#neighbors'}} Nearest Neighbors (10)
          %th
            %span.defined
              %a{data: {toggle: 'modal', target: '#community-type'}}
                = @profile.community_type_name
            %span.geography Community Type
          %th
            %span.defined=  @profile.region_name
            %span.geography Region
          %th
            %span.defined=  @profile.county_name
            %span.geography County
          %th
            %span.defined   Massachusetts
            %span.geography State

        %tr
          %td.attr Average Agro Five
          %td
            = trim @profile.muni_housing.ag_ro5
            %span.moe= moe_or_blank(@profile.muni_housing, :ag_ro5)
          %td   --
          %td= trim @profile.community_type.average_ag_ro5
          %td= trim @profile.region.average_ag_ro5
          %td= trim @profile.county.average_ag_ro5
          %td   --
        %tr
          %td.attr Agro Five Through Eight
          %td
            = trim @profile.muni_housing.ag_ro58
            %span.moe= moe_or_blank(@profile.muni_housing, :ag_ro58)
          %td   --
          %td= trim @profile.community_type.total_ag_ro58
          %td= trim @profile.region.total_ag_ro58
          %td= trim @profile.county.total_ag_ro58
          %td   --
        %tr
          %td.attr Median Agro Eight
          %td
            = trim @profile.muni_housing.ag_ro8
            %span.moe= moe_or_blank(@profile.muni_housing, :ag_ro8)
          %td   --
          %td= trim @profile.community_type.median_ag_ro8
          %td= trim @profile.region.median_ag_ro8
          %td= trim @profile.county.median_ag_ro8
          %td   --


%div.modal.fade#neighbors
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h4.modal-title
          Nearest Neighbors to
          = @profile.muni_name
      %div.modal-body
        %ul.neighbors
          =render partial: 'similar', collection: @profile.neighbors


%div.modal.fade#community-type
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h4.modal-title
          Other
          = @profile.community_type_name
          Cities and Towns
      %div.modal-body
        %ul.similar
          =render partial: 'similar', collection: @profile.similar_munis

