= provide :title, @muni.name

%div.container
  %h1= @muni.name
  
  %h3
    Select a service to assist your housing
    production planning process:

  %div.row
    %div.col-md-4.service
      %h4 Housing Data Profile
      
      = image_tag 'profile.png', class: 'service'

      %a.btn.btn-lg.btn-warning{href: profile_municipality_path} Select
      %ul
        %li
          View #{field_count} statistics on demographics, housing cost, supply, and more in a single table.
        %li
          Compare #{@muni}
          to its neighbors, similar cities & towns, the region,
          and the state.
        %li
          Export table to CSV.
      %a.btn.btn-default{href: profile_municipality_path}
        View summary tables
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right

    %div.col-md-4.service
      %h4 Basic Needs Assessment
      
      = image_tag 'report.png', class: 'service'

      %a.btn.btn-lg.btn-success{href: report_municipality_path} Select
      %ul
        %li
          Read interpretive text explaining housing trends in #{@muni}.
        %li
          View interactive visualizations of six key housing indicators for #{@muni}.
        %li
          Provides most of the required data elements for the housing needs assessment section of a housing production plan.
        %li
          Export document to Word.
      %a.btn.btn-default{href: report_municipality_path}
        Start planning
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right


    %div.col-md-4.service
      %h4 Data Download
      
      = image_tag 'download.png', class: 'service'

      %a.btn.btn-lg.btn-primary{href: download_municipality_path} Select
      %ul
        %li
          Download all currently available data points for all cities & towns in the state.
        %li
          Dig deeper and perform your own analyses.
        %li
          Includes metadata and user guide.
      %a.btn.btn-default{href: download_municipality_path}
        View datasets and guide
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right


    
