
Topic Area: Introduction

Housing production is one of the most profound challenges facing Massachusetts, and one in which each city and town has a unique and important role to play. Creating enough homes to accommodate the next generation of workers while also addressing the complex needs of an aging and increasingly diverse population will require communities across the state to implement new plans and policies that usher in a new era of housing production. 

The high cost of housing and lack of affordable or attractive options for many households has many negative consequences that affect the whole state. Housing costs are a major contributor to the state’s notoriously high cost of living, and eclipse taxes as a major disincentive to firms and talented workers thinking of locating here. Paying an excessive amount of income on housing means families have less money to spend on other essentials like food or health care, and spend less money at local businesses. Finally, high housing costs, especially in and near urban areas, have caused many households to search farther afield, “driving until they qualify” in the sprawl frontier past I-495 where large lots, low density, and long commutes cause both local environmental damage, increased emissions, and higher transportation costs.  

One fundamental solution to the state’s housing challenge is more proactive efforts to plan for increased housing production at the local level.  Each city and town has different needs, different constraints, and different opportunities for new growth, but all can play a role in meeting the state’s housing needs.  Furthermore, many important principles of housing production apply across the Commonwealth: communities need a diversity of housing types to meet future housing needs; increased production at all price levels is critical to improving affordability; and well-located and well-designed new housing can revitalize local business districts while reducing auto miles travelled.  

This report provides an overview of the current demographics of #{@report.muni}, the projected changes in housing demand over the coming decades, and the types of new housing that are needed to meet that need.  

Subtopic: The Legal Context for Housing Production Planning

Housing production has been an important goal of the Commonwealth for decades.  The Comprehensive Permit Act consists of Massachusetts General Laws (MGL) Chapter 40B, Sections 20 through 23, along with associated regulations issued and administered by the Massachusetts Department of Housing and Community Development (DHCD). It was enacted in 1969 to encourage the production of affordable housing in all communities of the Commonwealth.

In municipalities that fail to meet their affordable housing obligations under Chapter 40B, a developer can apply for a “Comprehensive Permit” that enables them to build more densely than municipal zoning bylaws would permit, if at least 25% (or 20% in certain cases) of the new units are affordable.  For purposes of comprehensive permitting, “adequate progress” means that more than 10% of the year-round housing units qualify as affordable in the Subsidized Housing Inventory (see more detail below), or that the municipality has an approved housing production plan and has met annual or biennial housing production targets. In some cases, as-of-right zoning for multifamily or higher-density housing can help demonstrate “adequate progress.”  Despite its controversy, Massachusetts voters rejected an initiative petition to repeal the law in November of 2010.

For the purposes of this statute, affordable housing is defined as a unit that could be purchased or rented by a household making up to 80% of the area median income (AMI). 

Topic Area: Demographics

Housing needs and preferences change over time. Young professionals and seniors on fixed incomes may prefer smaller, more affordable units that are easier to maintain. Families with children may want larger units with more bedrooms and open space.  This section describes the population of #{@report.muni} by age and how it is projected to change.

#{@report.muni} is home to 

#{pop_2010} residents

, [an increase/a decrease] of 100*(#{pop_2010} - #{pop_2000})/ #{pop_2000}%
 
 from 2000. In 2010, working-age adults between 20 and 65 made up 

100*(#{pop10_2034} + #{pop10_3564})/#{pop_2010}%
 
 of the population and seniors over 65 made up

100*#{pop10_65p}/ #{pop_2010}%

.  School-age children, between 5 and 19, make up 

100*#{pop10_5_19}/#{pop_2010}%
 
 of current residents. Between 2005 and 2012, school enrollment 

[increased/decreased] by enroll_chg

, or 

100* enroll_chg/ (enrolled  - enroll_chg)%

.







MAPC, the regional planning agency for Metro Boston, has prepared population and housing demand projections for 164 cities and towns in Metropolitan Boston1, and the University of Massachusetts Donahue Institute has prepared population projections for the balance of the cities and towns in the state2. Both sets of projections include two scenarios: a Status Quo scenario based on continuation of recent trends in migration, housing occupancy, and location preference; and a Stronger Region scenario that assumes increased attraction and retention of young workers and slightly increased preference for urban settings and multifamily housing. The Status Quo scenario found that continuation of current levels of in-migration and housing production would lead to a declining workforce and economic stagnation over the coming decades.  In contrast, the increased migration rates of the Stronger Region scenario could fuel job growth of 7% between 2010 and 2040.  As a result, MAPC recommends use of the Stronger Region scenario as the basis for housing planning, and the assumptions and outputs of that work have been incorporated into the Commonwealth’s multifamily housing production goal of 10,000 multifamily units per year, and have been adopted by the Massachusetts Department of Transportation as the basis for long-term transportation planning.

With the aging of the Baby Boomers, Massachusetts is growing older. The senior population is expected to grow 100*(#{pop30_65p} - #{pop10_65p})/ #{pop10_65p}% over the next two decades, an increase mirrored in almost every city and town. 

In #{@report.muni}, the aging of the Baby Boomers will cause the senior population to increase by #{pop30_65p} – #{pop10_65p} people, or 100*(#{pop30_65p} – #{pop10_65p}) / #{pop10_65p} %, through 2030, as seen in Figure 1. The total population is projected to [increase/decrease] by #{pop_30sr} – #{pop_2010}, or 100*(#{pop_30sr} – #{pop_2010}) / #{pop_2010}%, over the same period.

[[Figure 1: Bar chart of population projections by age variable. Bars are filled by year. Age  variable mapped to x-axis. See ”Total Population by Age, 1990 – 2030”  in municipal projections. report. 

Topic: Population

Subtopic: by Race

Massachusetts has grown more diverse since 2000. Between 2000 and 2010, the non-white population increased by 100*(#{minor_10} - #{minor_00})/ #{minor_00}%. Meanwhile, the white, non-Hispanic population declined by 100*(#{white_10} – #{white_00})/#{white_00}%. Figure #{figNum} shows the distribution of population by race in #{@report.muni} and its ten nearest neighbors.

[[Stacked bar chart that adds up to 100%. Bars are shaded by percent of population that is White, Black, Asian, Native American, Pacific Islander, Other, Two or More, and Hispanic. Bars correspond to #{@report.muni} and its nearest neighbors.]]

Topic Area: Demand

Housing demand is a function not only of population, but also the number and type of households that the population forms.  As years pass, some households form, move into the community, or grow larger, while others grow smaller, seek different housing options, or move out. Net housing demand is the number of units needed to accommodate additional households and maintain healthy vacancy rates among owner and renter-occupied housing units. This section looks at the current distribution of household types in #{@report.muni}, projected household changes, and net housing unit demand through 2030.

Key findings:

%ul
  %li total households in #{@report.muni} [increased/decreased] 100*(#{hh_10}- #{hh_00})/ #{hh_00}% between 2000 and 2010, from #{hh_00} to #{hh_10},4

  %li average household size [increased/decreased] from #{hh_avg00} in 2000 to #{hh_avg10} in 2010 and is projected to be #{hhs_30sr} by 2030,

  %li family households with children make up #{hhf_c_p}% of #{@report.muni} households,

  %li single person households and elderly5 single person households make up #{hh1_p}% and #{hh1_65o_p}% of #{@report.muni} households, respectively,

  %li total households in #{@report.muni} are projected to [increase/decrease] by #{hh_30sr} - #{hh_10} through 2030, a 100*(#{hh_30sr} - #{hh_10})/ #{hh_10}% [increase/decrease] from 2010,

  %li householders between 30 and 60 are projected to [increase/decrease] by (#{hh30_3044} + #{hh30_4559}) – (#{hh10_3044} + #{hh10_4559}), or 100*((#{hh30_3044} + #{hh30_4559}) – (#{hh10_3044} + #{hh10_4559}))/ (#{hh10_3044} + #{hh10_4559})%,

  %li As the Baby Boomer generation ages, the number of householders over 60 will grow by (#{hh30_6074} + #{hh30_75pl}) – (#{hh10_75pl} + #{hh10_6074}), [increasing/decreasing] from (#{hh10_6074} + #{hh10_75pl})/#{hh_10} to (#{hh30_6074} + #{hh30_75pl})/#{hh_30sr} percent of the total households in #{@report.muni}.

  %li Net housing unit demand will be #{hu1534_20} + #{hu3554_20} + #{hu5574_20} + #{hu75p_20} through 2020, or (#{hu1534_20} + #{hu3554_20} + #{hu5574_20} + #{hu75p_20})/10 annually,

  %li Net housing unit demand  for householders currently between the ages of 15 and 35 will be #{hu1534_20}, or #{hu1534_20} /10 annually,

  %li Over the next ten years, householders currently older than 55 will need #{hu5574_20}  + #{hu75p_20} [more/fewer] units than they do today[., putting #{sfr5574_20} + #{sfo5574_20} + #{sfr75p_20} + #{sfo75p_20} single family houses back onto the market on average each year.].